/* ====================== Restaurant Details ====================== */
.map-container {
  margin-top: 10px;
  height: 30vh;
  width: 100%;
  padding: 10px;
}

.map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.restaurant-container,
.reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px;
}

.restaurant-cuisine {
  background-color: var(--widget-accent-bg-color);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

.restaurant-name {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

.restaurant-img-large {
  border: #333333;
  border-radius: 50px 0 50px;
  width: 100%;
}

.restaurant-img-medium {
  border: #333333;
  border-radius: 50px 0 50px;
  width: 100%;
}
.restaurant-img-small {
  border: #333333;
  border-radius: 50px 0 50px;
  width: 100%;
}

.restaurant-address {
  font-size: 1.6rem;
  margin: 10px 0;
}

.reviews-container h2 {
  color: var(--main-color);
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

.reviews-list li {
  background-color: var(--widget-bg-color);
  border: 2px solid var(--main-border-color);
  list-style-type: none;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

.reviews-list {
  margin: 0;
  padding: 0;
}

.reviewer .reviewer-header {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  border-radius: 20px 0px 20px 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--widget-accent-bg-color);
}

.reviewer .name {
  color: var(--widget-accent-font-color);
  font-size: 1.2rem;
}

.reviewer .date {
  color: var(--widget-accent-font-color);
  font-size: 1.2rem;
}

.reviewer .rating {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: var(--main-color);
  font-weight: bold;
  display: inline-block;
}

.reviewer .comments {
  padding: 20px 10px;
}

.reviews-list li p {
  margin: 0 0 10px;
}

/* ====================== Restaurant Details Responsive ====================== */
.content {
  display: flex;
  flex-direction: column;
}

.restaurants-container,
.reviews-container {
  order: 10;
}

.map-container {
  order: 0;
}
/* ====================== Restaurant Details Media Queries ====================== */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
  }

  .restaurants-container {
    order: 0;
    width: 50%;
  }

  .restaurant-name {
    color: var(--main-color);
    font-size: 1.5rem;
  }

  .map-container {
    order: 1;
    width: 50%;
  }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
